<%=render partial: 'comics/search_form'%>
<br>
<div class="columns">
  <div class="card1">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure>
            <img  src="<%=@comic.thumbnail_path%>.<%=@comic.thumbnail_extension%>" alt="<%=@comic.title%>" width="300" />
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4 has-text-danger"><%=@comic.title%></p>
          <p><%=@comic.description%></p>
          <br>
          <p>Pages: <%=@comic.page_count%></p>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="card-footer">
  <p class="card-footer-item">
  Characters:  <%=@comic.character_comics.count%>
</footer>

<div class="columns is-multiline">
  <div class="column is-one-third">
    <% if @comic.character_comics.empty?%>
      <p>No characters listed for <%= @comic.title %></p>
    <% else %>
      <ul>
        <% @comic.character_comics.each do |characterComic| %>
          <li>
            <%= link_to characterComic.hero.name, characterComic.hero%>
          </li>
        <%end%>
      </ul>
    <% end %>
  </div>
</div>
