<div class="column">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="<%=hero.thumbnail_path%>.<%=hero.thumbnail_extension%>" alt="<%=hero.name%>" width="100px"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=link_to hero.name, hero%></p>
          </div>
        </div>

        <div class="content">
          <%=hero.description%>
        </div>
      </div>
    </div>
  </div>
