<%=render partial: 'heroes/search_form'%>
<br>
<p class="subtitle is-7">
Found <%=pluralize(@heroes.size, 'result')%>
for the search term "<%=params[:search_term] %>".
</p>
<%=paginate @heroes%>
<div class="columns is-multiline">
<%@heroes.each do |hero|%>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure >
              <img src="<%=hero.thumbnail_path%>.<%=hero.thumbnail_extension%>" alt="<%=hero.name%>" width="100"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=link_to hero.name, hero%></p>
            <p> <%=hero.description%></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
<%=paginate @heroes%>
