<div class='column is-multiline'>
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure>
              <img src="<%=@hero.thumbnail_path%>.<%=@hero.thumbnail_extension%>" alt="<%=@hero.name%>" width="400px"/>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%=link_to @hero.name, @hero%></p>
            <p><%=@hero.description%></p>
          </div>
        </div>
      </div>

    </div>
    <footer class="card-footer">
    <p class="card-footer-item">
    Comics:

    <p class="card-footer-item">
    Series:

    <p class="card-footer-item">
    Stories:
</footer>
  </div>
</div>


